<header>
  <div class="container">
    <div style="display: flex; justify-content: space-between; align-items: baseline;">
      <div>
        <div class="site-title"><a href="{{ .Site.Home.RelPermalink }}">{{ .Site.Title }}</a></div>
        <div class="site-subtitle">{{ .Site.Params.subtitle }}</div>
      </div>
      <div class="lang-switcher">
        {{ if .IsTranslated }}
          {{ range .Translations }}
            <a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
          {{ end }}
          <span class="lang-active">{{ .Language.LanguageName }}</span>
        {{ else }}
          {{ range .Site.Languages }}
            {{ if eq $.Site.Language.Lang .Lang }}
              <span class="lang-active">{{ .LanguageName }}</span>
            {{ else }}
              <a href="{{ printf "%s/" .Lang | relURL }}">{{ .LanguageName }}</a>
            {{ end }}
          {{ end }}
        {{ end }}
      </div>
    </div>
    <nav>
      {{ range .Site.Menus.main }}
        <a href="{{ .URL }}"{{ if $.IsMenuCurrent "main" . }} class="active"{{ end }}>{{ .Name }}</a>
      {{ end }}
    </nav>
  </div>
</header>
