<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} — {{ .Site.Title }}{{ end }}</title>
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
{{ $css := resources.Get "css/style.css" | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}">
<script defer data-domain="raisa-diary-1942.org" src="https://analytics.prokopov.me/js/script.js"></script>
